/* Design System Variables - Based on Figma Design */

:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-highlight:  lightgoldenrodyellow;
  --color-grey: #dedede;
  --color-bkggrey: #f0f0f0;
    --color-green:#00C100;
  --color-lime: #d1eb89;
      --color-red: rgb(255, 65, 65);

  /* Typography */
  --font-family: "Helvetica", sans-serif;


  /* Spacing */
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;

  --spacing-lg: 16px;
    --spacing-xlg: 32px;
    --spacing-margin: 20px;

  /* Dimensions */
  --button-height: calc(1.2rem + 2 * var(--spacing-md));

  /* Borders */
  --border: 1.5px solid var(--color-black);
  --border-radius: 4px;

--desktop-max-width: 60vw;

--header-home-mobile: 40vh;


--guide: solid 1px #ff9a9a51;
}



@media (min-width: 740px) {
  :root {
    --spacing-margin: 10px;
    --button-height: calc(1.2rem + 2 * var(--spacing-margin));
  }
}