/* Design System Variables - Based on Figma Design */

:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-highlight:  lightgoldenrodyellow;
  --color-grey: lightgrey;
    --color-green: rgb(32, 165, 32);
      --color-red: rgb(255, 65, 65);

  /* Typography */
  --font-family: "Helvetica", sans-serif;


  /* Spacing */
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;

  --spacing-lg: 16px;
    --spacing-xlg: 32px;
    --spacing-margin: 20px;

--desktop-max-width: 60vw;

--header-home-mobile: 40vh;


--guide: solid 1px #ff9a9a51;
}


