.listTop {
  margin-bottom: 10px;
}
h1 {
  text-align: center;

  /* margin-bottom: 10px; */
}

#listNumber {
  background-color: var(--color-midgrey);
  padding: 0 3px;
  display: none;
}
.listTop-inner {
  gap: 0;
}
#voteButton,
#editButton {
  margin-right: 0;
  margin-left: auto;
  display: block;
}
.gridType {
  margin-left: 10px;
  transform: translateY(2px);
}
.viewSelect {
  gap: 0;
}
.card-container-wrapper {
  padding: 10px;
}
#card-container {
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.card {
  min-width: 0;
}
.header {
  background-color: var(--color-blue);
  color: white;
  padding: 0 5px;
  font-size: 1em;
  min-width: 0;
}

#card-container.largeSquare {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.eloTag.largeSquare {
  padding: 0 5px;
}

.header.smallSquare {
  justify-content: flex-start;
  gap: 5px;
  flex-grow: 2;
  background-color: unset;
  color: black;
}

.card.smallSquare {
  display: flex;
  align-items: center;
  padding: 5px;
}
.card img {
  width: 100%;
  max-width: unset;
  aspect-ratio: 1;
  object-fit: contain;
}
.eloTag.smallSquare {
  display: flex;
  align-items: center;
  /* padding: 10px; */

  justify-content: flex-end;
  /* width: 100%; */
}

.inner-box.smallSquare {
  width: 30px;
  height: 30px;
  /* margin: 5px; */
  order: -1;
}

@media (min-width: 740px) {
  #card-container.largeSquare {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .header.smallSquare {
    width: 20%;
  }
}
