ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}
li {
  /* border: 1px solid #ccc; */
  margin: 5px 0 -20px 0;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  /* display: flex; */
  box-shadow: var(--page-shadow);
  background-color: white;
}
li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li a {
  cursor: pointer;
  font-size: 30px;
}
li.hover {
  transition: transform 200ms ease;
}
li:after {
  content: "";
  display: block;
  height: 10px;
  /* border: solid green; */
}
.listData a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-left: 150px;
}
.listData img {
  width: 120px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 10px;
}

.listActions a {
  font-size: 20px;
}
label {
  display: block;
  flex-grow: 1;
  padding-bottom: 5px;
  /* width: 15%; */
}
.footer {
  width: 100vw;
  border-top: solid black 1px;
  height: 150px;
  z-index: 1;
  position: absolute;
  background-color: #eeeeee;
  /* margin-left: -20px; */
  left: 0;
}
input {
  display: block;
  flex-grow: 3;
  font-size: 12px;
  padding: 10px;
  border-radius: 0;
  border: solid 1px #ccc;
  box-sizing: border-box;
  width: 100%;
}
img {
  width: 50px;
  aspect-ratio: 1 / 1;
}
#itemFields > div,
#listTitle {
  margin: 1em 0;
  /* display: flex; */
}
.listData,
.listActions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.itemContainer {
  display: flex;
  gap: 10px;
  padding-top: 5px;
}
.itemName,
.itemImage {
  width: 50%;
}
form {
  border: solid 1px #ccc;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 1em;
}
#addItemButton {
  margin-right: 0;
  margin-left: auto;
  display: block;
}
.onlineStatus {
  width: 10px;
  height: 10px;
  border-radius: 100px;
}
.online {
  background-color: lightgreen;
}
