body {
  max-width: 800px;
}

.list-wrapper {
  padding: 10px;
}
.listContainer {
  margin-bottom: 10px;
}
input.metadata {
  border: none;
}
.login button {
  font-family: "Times New Roman", Times, serif;
  color: var(--color-blue);
  font-size: 1em;
}
.tabulator {
  background-color: white;
}

.tabulator .tabulator-header {
  color: black;
  border: none !important;
}
.tabulator .tabulator-header .tabulator-col {
  border-right-color: var(--border-color);

  border: none !important;
}
.tabulator .tabulator-header .tabulator-col-content {
  border-top: 2px solid var(--color-lightgrey);
  border-left: 2px solid var(--color-lightgrey);
  border-right: 2px solid var(--color-darkgrey);
  border-bottom: 2px solid var(--color-darkgrey);
}
.tabulator-row {
  /* border-bottom: 1px dotted black; */
}
.tabulator-row.tabulator-row-even {
  /* background-color: #eee; */
  background-color: white;
  /* border: none !important; */
}
.tabulator-row .tabulator-cell {
  border-right-color: var(--border-color);
  border: none !important;
}
.tabulator-row.tabulator-editing {
  font-family: "Compagnon-Medium";

  border: 1px dotted black;
}

.tabulator-row .tabulator-cell.tabulator-editable.tabulator-editing input {
  font-family: "Compagnon-Medium";
  border-right-color: var(--border-color);
  border: none !important;
}

.tabulator
  .tabulator-header
  .tabulator-col
  .tabulator-col-content
  .tabulator-col-sorter
  .tabulator-arrow {
  border-bottom-color: var(--border-color);
}
.tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable[aria-sort="none"]
  .tabulator-col-content
  .tabulator-col-sorter
  .tabulator-arrow {
  border-bottom-color: var(--border-color);
}
.tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable[aria-sort="ascending"]
  .tabulator-col-content
  .tabulator-col-sorter
  .tabulator-arrow {
  border-bottom-color: var(--border-color);
}
.tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable[aria-sort="descending"]
  .tabulator-col-content
  .tabulator-col-sorter
  .tabulator-arrow {
  border-bottom: none;
  border-top: 6px solid;
  border-top-color: var(--border-color);
}
.tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
  background-color: var(--page-color);
  background-color: #eee;
}
.tabulator-row.tabulator-selectable:hover {
  background-color: var(--color-lightgrey);

  /* box-sizing: border-box; */
}

.listSettings {
  display: flex;
  justify-content: space-between;
}

#passwordEnterForm {
  display: none;
  width: 300px;
  padding: 20px;
  background-color: var(--color-lightgrey);
  border: 1px solid var(--color-darkgrey);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
