@font-face {
  font-family: "Compagnon-Bold";
  src: url("/fonts/Compagnon-Bold.woff2") format("woff2"),
    url("/fonts/Compagnon-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Compagnon-Medium";
  src: url("/fonts/Compagnon-Medium.woff2") format("woff2"),
    url("/fonts/Compagnon-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Compagnon-Roman";
  src: url("/fonts/Compagnon-Roman.woff2") format("woff2"),
    url("/fonts/Compagnon-Roman.woff") format("woff");
  font-weight: 300;
}
:root {
  --color-blue: #3c52e0;
  --color-lightgrey: #f4f4f4;
  --color-grey: #eee;
  --color-midgrey: #ddd;
  --color-darkgrey: #ccc;
  --color-black: #212121;
}
body {
  background-color: #eeeeee;
  margin: 0 auto;
  max-width: 550px;
  padding: 50px 20px;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}
div::-webkit-scrollbar,
a::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
html,
body,
.tabulator > * {
  font-family: "Compagnon-Medium", "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
}
ul {
  padding: 0;
  margin: 0;
}
hr {
  border-top: solid var(--color-midgrey) 1px;
  border-bottom: solid white 1px;
}
h1 {
  margin: unset;
  font-weight: normal;
  text-align: center;
  font-size: 2em;
  font-family: "Compagnon-Bold";
  padding-bottom: 10px;
}
h2 {
  margin: unset;
  font-weight: normal;
  text-align: left;
  font-size: 0.8em;
  font-family: "Compagnon-Roman";
}
h4 {
  margin: unset;
  padding-bottom: 0.3em;
  font-family: "Compagnon-Medium";
  font-size: 1em;
}
h4.itemName {
  text-overflow: clip;
  white-space: nowrap;
  overflow: scroll;
}
h5 {
  margin: unset;
}
p {
  margin: unset;
  font-family: "Compagnon-Medium";
  font-size: 1em;
  padding-bottom: 0.3em;
}
a {
  color: var(--color-blue);
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
input[type="text"] {
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid var(--color-lightgrey);
  border-right: 1px solid var(--color-lightgrey);
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  cursor: text;
  font-family: "Compagnon-Medium";
}
input[type="text"]:focus-visible {
  border-radius: 0;
  outline: none;
}
.top {
  margin-bottom: 10px;
}
.wrapper {
  padding: 10px;
}
.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 2px #fff groove;
  margin-bottom: 10px;
}
.home-small {
  position: absolute;
  top: 10px;
  left: 20px;
}
.home-small a {
  color: black;
}
.elo-logo {
  display: inline-block;
  height: 100%;
  object-fit: contain;
  padding-top: 12px;
}
.elo-logo.small {
  padding: unset;
  padding-top: 8px;
  height: 25px;
  /* height: 30px; */
}
.flex {
  display: flex;
  gap: 10px;
}
.justify {
  justify-content: space-between;
  align-items: center;
}
.align {
  justify-content: left;
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.login {
  width: fit-content;
  padding: 20px;
  background-color: var(--color-lightgrey);
  border: 1px solid var(--color-darkgrey);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.login label,
.login input,
.login button {
  display: block;
}
.login input {
  margin: 10px auto;
}
.login button {
  float: right;
}

.actionButtons {
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
}
.clickable {
  box-sizing: border-box;

  background-color: var(--color-midgrey);
  border-top: 2px solid var(--color-lightgrey);
  border-left: 2px solid var(--color-lightgrey);
  border-right: 2px solid var(--color-darkgrey);
  border-bottom: 2px solid var(--color-darkgrey);
  cursor: pointer;
}

.clickable.huge {
  /* background-color: var(--color-black); */

  border-top: 5px solid var(--color-lightgrey);
  border-left: 5px solid var(--color-lightgrey);
  border-right: 5px solid var(--color-darkgrey);
  border-bottom: 5px solid var(--color-darkgrey);
}
.visualtab {
  box-sizing: border-box;
  background-color: var(--color-midgrey);
  border-top: 2px solid var(--color-lightgrey);
  border-left: 2px solid var(--color-lightgrey);
  border-right: 2px solid var(--color-darkgrey);
  border-bottom: 0;
  cursor: pointer;
  min-width: 30px;

  transform: translateY(2px);
  height: 20px;
}

.clickable:hover {
  background-color: var(--color-midgrey);
  border-bottom: 2px solid var(--color-lightgrey);
  border-right: 2px solid var(--color-lightgrey);
  border-left: 2px solid var(--color-darkgrey);
  border-top: 2px solid var(--color-darkgrey);
  cursor: pointer;
}

.clickable.huge:hover {
  /* background-color: var(--color-black); */

  border-top: 5px solid var(--color-darkgrey);
  border-left: 5px solid var(--color-darkgrey);
  border-right: 5px solid var(--color-lightgrey);
  border-bottom: 5px solid var(--color-lightgrey);
}
.clicked {
  background-color: var(--color-midgrey);
  border-bottom: 0;
  border-top: 2px solid var(--color-lightgrey);
  border-left: 2px solid var(--color-lightgrey);
  border-right: 2px solid var(--color-darkgrey);
  cursor: pointer;

  transform: unset;
  height: 24px;
}
.inner-box {
  background-color: var(--color-midgrey);
  border-bottom: 2px solid var(--color-lightgrey);
  border-right: 2px solid var(--color-lightgrey);
  border-left: 2px solid var(--color-darkgrey);
  border-top: 2px solid var(--color-darkgrey);
  box-sizing: border-box;
}
.box {
  box-sizing: border-box;
  background-color: var(--color-midgrey);
  border-top: 2px solid var(--color-lightgrey);
  border-left: 2px solid var(--color-lightgrey);
  border-right: 2px solid var(--color-darkgrey);
  border-bottom: 2px solid var(--color-darkgrey);
}

.listItem {
  padding: 5px;
  /* height: 80px; */
}

.listData,
.listActions {
  display: flex;
  align-items: center;
  gap: 5px;
}
.listData {
  width: 100%;

  min-width: 0;
  flex-grow: 2;
}
.listData a {
  text-decoration: none;
  color: black;
  text-align: left;
  min-width: 0;
}
.listData img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1 / 1;
}

#addItemButton {
  margin-right: 0;
  margin-left: auto;
  display: block;
}

label::after {
  content: ":";
}
